@inherits LayoutComponentBase
@using Blazored.SessionStorage;
@inject ISessionStorageService almacenarSesionServicio;

<PageTitle>BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
            <b>Bienvenido, @emailUser</b>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    String emailUser = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            emailUser = await almacenarSesionServicio.GetItemAsync<string>("email");
        }
        catch (Exception ex)
        {
            //textoError = ex.Message;
            //MostrarError();
            StateHasChanged();
        }
    }
}